*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Logs
*.log
firebase-debug.log
hs_err_*.log
replay_pid*.log

# Carpetas temporales
LectoGuard/LectoGuard/